<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

        <div class="row mb-3">
          <div class="col-auto">
            <button id="redirectBack" title="Back" class="btn btn-light" type="button">
              <i class="fas fa-angle-left mr-2"></i>
              Trở về
            </button>
          </div>
        </div>

        <div class="row">
          <% if (error.err) { %>
            <div class="col-md-6 mx-auto">
              <%- include("../error.ejs") %>
            </div>
            <% } else { %>
              <div class="col-md-6 mx-auto">
                <h2 class="text-center mb-3">Nhập thông tin đơn vị thực tập mới</h2>
                <p class="text-muted text-center font-italic mb-4">Sử dụng biểu mẫu dưới đây để tạo đơn vị thực tập mới
                </p>
                <div id="alter"></div>
                <!-- add internship-unit form -->
                <form action="/admin/manage/internship-unit" method="POST" id="add_internship-unit"
                  class="needs-validation mb-4 IU-form" novalidate>
                  <div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Tên công ty</label>
                      <input type="text" class="form-control" id="name" name="name" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" name="email" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="address" class="form-label">Địa chỉ</label>
                      <textarea class="form-control" id="address" name="address" style="height: 100px"
                        required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="city" class="form-label">Thành phố</label>
                      <select class="form-control" id="city" name="city" required>
                        <option selected disabled value="">Chọn Tỉnh/ Thành phố ...</option>

                        <% tinh.forEach((val)=>{ %>
                          <option value="<%= val.id%>">
                            <%= val.name%>
                          </option>
                          <% })%>
                      </select>

                    </div>
                    <div class="mb-3">
                      <label for="phone" class="form-label">Số điện thoại</label>
                      <input type="text" class="form-control" id="phone" name="phone" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="website" class="form-label">Website</label>
                      <input type="text" class="form-control" id="website" name="website" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="mentorName" class="form-label">Tên người hướng dẫn</label>
                      <input type="text" class="form-control" id="mentorName" name="mentorName" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="mentorPhone" class="form-label">Số điện thoại người hướng
                        dẫn</label>
                      <input type="text" class="form-control" id="mentorPhone" name="mentorPhone" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="mentorEmail" class="form-label">Email người hướng dẫn</label>
                      <input type="text" class="form-control" id="mentorEmail" name="mentorEmail" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="workEnv" class="form-label">Môi trường làm việc</label>
                      <input type="text" class="form-control" id="workEnv" name="workEnv" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="workContent" class="form-label">Nội dung thực tập</label>
                      <input type="text" class="form-control" id="workContent" name="workContent" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="reqTime" class="form-label">Giờ thực tập tối thiểu trên
                        tuần</label>
                      <input type="number" class="form-control" id="reqTime" name="reqTime" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="reqInfo" class="form-label">Yêu cầu của đơn vị thực tập</label>
                      <input type="text" class="form-control" id="reqInfo" name="reqInfo" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="maxSv" class="form-label">Số lượng tối đa</label>
                      <input type="number" class="form-control" id="maxSv" name="maxSv" value="" required>
                    </div>
                    <div class="mb-3">
                      <label for="benefit" class="form-label">Hỗ trợ của đơn vị thực tập</label>
                      <input type="text" class="form-control" id="benefit" name="benefit" value="" required>
                    </div>
                    <div class="group-btn mt-4">
                      <input type="submit" class="btn btn-info btn-width-100 mr-4" value="Gửi" />
                      <input type="reset" class="btn btn-secondary btn-width-100 ml-4" value="Huỷ bỏ"
                        onclick="resetFormIU()" />
                    </div>
                  </div>
                </form>
              </div>
              <% } %>
        </div>
    </div>

    <%- include('../layouts/script') %>
      <script src="/js/admin/show-internship-unit.js"></script>
      <script>
        $('#redirectBack').click(() => {
          window.location.replace('/admin/manage/internship-unit');
        });

        (function () {
          'use strict';
          window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
              form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
</body>

</html>