<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>
      
      <div class="row mb-4">
        <div class="col-auto ml-auto">
          <button class="btn btn-primary">Lưu tất cả</button>
          <button class="btn btn-secondary ml-3">Hủy bỏ</button>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="align-middle" scope="col">#</th>
            <th class="align-middle" scope="col">
              Đơn vị thực tập
              <a class="ml-1" href="#"><i class="fas fa-sort text-body"></i></a>
            </th>
            <th class="align-middle" scope="col">
              Số lượng sinh viên
              <a class="ml-1" href="#"><i class="fas fa-sort text-body"></i></a>
            </th>
            <th class="align-middle" scope="col">
              Tỉnh/ Thành phố
              <a class="ml-1" href="#"><i class="fas fa-sort text-body"></i></a>
            </th>
            <th class="align-middle" scope="col">
              Họ và tên giáo viên
              <a class="ml-1" href="#"><i class="fas fa-sort text-body"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <% internshipUnits.forEach(function (item, index) { %>
            <tr id="<%= index %>">
              <td class="align-middle"><%= index + 1 %></td>
              <td class="align-middle"><%= item.name %></td>
              <td class="align-middle"><%= item.totalStudent %> sinh viên</td>
              <td class="align-middle"><%= item.cityName %></td>
              <td class="align-middle">
                <select class="custom-select">
                  <option selected>-- Chọn giáo viên --</option>
                  <option value="1">Huynh Quang Nghi</option>
                  <option value="2">Nguyen Cong Danh</option>
                </select>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
