<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>



      <!-- Thông tin sinh viên -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin sinh viên</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Mã số sinh viên</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idSv.mssv %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Họ và tên</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idSv.name %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Mã lớp</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idSv.idClass %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Ngành học</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idSv.idMajor.name %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.phone %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Email</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idSv.email %></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin đơn vị thực tập -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin đơn vị thực tập</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tên đơn vị thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.name %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Địa chỉ</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.address %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tỉnh/ Thành phố</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.city %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.phone %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Website</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.website %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số buổi thực tập trong tuần</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.shiftPerWeek %> buổi/ tuần</span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Có phòng làm việc</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.haveRoomString %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Có máy tính</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.havePCString %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Yêu cầu của công ty thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.reqInfo %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Hỗ trợ của đơn vị thực tập</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.benefit %></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin người hướng dẫn -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin người hướng dẫn</h5>
        </div>
        <div class="card-body">
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Tên người hướng dẫn</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.mentor.name %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Số điện thoại</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.mentor.phone %></span>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-3">
              <span class="">Email</span>
            </div>
            <div class="col-md-8">
              <span class="text-muted"><%= internInfo.idIntern.mentor.email %></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Thông tin công việc theo tuần -->
      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin công việc theo tuần</h5>
        </div>
        <div class="card-body">
          <% internInfo.work.forEach((item, index) => { %>
            <div class="row m-3">
              <div class="col-md-3">
                <span class="">Tuần <%= index + 1 %></span>
              </div>
              <div class="col-md-8">
                <span class="text-muted"><%= item %></span>
              </div>
            </div>
          <% }) %>
        </div>
      </div>

      <!-- Trạng thái -->
      <% if (internInfo.status == 0) { %>
        <div class="alert alert-warning" role="alert">
          <strong><%= internInfo.statusString %></strong>
        </div>
      <% } else { %>
        <div class="alert alert-success" role="alert">
          <strong><%= internInfo.statusString %></strong>
        </div>
      <% } %>
      

      <!-- Button -->
      <form method="POST" action="">
        <input type="hidden" name="idInternInfo" value="<%= internInfo.shortId %>">
        <div class="m-auto" style="width: fit-content">
          <button class="m-2 btn btn-info" name="approve" type="submit" <%= internInfo.disabledApproveButton %>>Xét duyệt</button>
          <button class="m-2 btn btn-secondary" name="refuse" type="submit" <%= internInfo.disabledCancelButton %>>Hủy bỏ</button>
        </div>
      </form>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
