<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

  <div id="content">
    <%- include('../layouts/navbar') %>

    <div class="row mb-4">
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Năm học</span>
          </div>
          <select name="" id="school-year-filter" class="custom-select">
            <option value="">-- Chọn năm học --</option>
            <% schoolYears.forEach(item => { %>
              <% if (selectedSchoolYear == item) { %>
                <option value="<%= item %>" selected><%= item %></option>  
              <% } else { %>
                <option value="<%= item %>"><%= item %></option>
              <% } %>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Học kỳ</span>
          </div>
          <select name="" id="semester-filter" class="custom-select">
            <option value="">-- Chọn học kỳ --</option>
            <% for (var i = 1; i <= 3; i++) { %>
              <% if (i == selectedSemester) { %>
                <option value="<%= i %>" selected><%= i %></option>
              <% } else { %>
                <option value="<%= i %>"><%= i %></option>
              <% } %>

            <% } %>
          </select>
        </div>
      </div>
      <div class="col-auto">
        <button id="filter-schoolyear-semester" class="btn btn-info">Lọc</button>
      </div>
    </div>

    <% if (internInfos.length == 0) { %>
      <p>Chưa có đơn yêu cầu xét duyệt nào</p>
    <% } else { %>
      <div class="table-responsive">
        <table class="table table-hover" id="approve-internship">
          <thead>
            <tr>
              <th class="text-left align-middle" scope="col">#</th>
              <th id="student-id-col" class="text-left align-middle" scope="col" onclick="window.location='?_sort&column=student.ms&type=<%= type %>'">
                Mã số sinh viên
                <i class="fas fa-sort text-body"></i>
              </th>
              <th id="student-name-col" class="text-left align-middle" scope="col" onclick="window.location='?_sort&column=student.name&type=<%= type %>'">
                Họ và tên
                <i class="fas fa-sort text-body"></i>
              </th>
              <th id="intern-unit-name-col" class="text-left align-middle" scope="col" onclick="window.location='?_sort&column=internshipUnit.name&type=<%= type %>'">
                Tên công ty
                <i class="fas fa-sort text-body"></i>
              </th>
              <th id="city-col" class="text-left align-middle" scope="col" onclick="window.location='?_sort&column=internshipUnit.city&type=<%= type %>'">
                Tỉnh/ Thành phố
                <i class="fas fa-sort text-body"></i>
              </th>
              <th id="status-col" class="text-left align-middle" scope="col" onclick="window.location='?_sort&column=status&type=<%= type %>'">
                Trạng thái
                <i class="fas fa-sort text-body"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <% internInfos.forEach((item, index) => { %>
              <% index = index + indexCount %>
              <tr id="<%= item.shortId %>">
                <td class="text-left align-middle <%= item.styleClass %>"><%= index + 1 %></td>
                <td class="text-left align-middle <%= item.styleClass %>"><%= item.student.ms %></td>
                <td class="text-left align-middle <%= item.styleClass %>"><%= item.student.name %></td>
                <td class="text-left align-middle <%= item.styleClass %>"><%= item.internshipUnit.name %></td>
                <td class="text-left align-middle <%= item.styleClass %>"><%= item.city %></td>
                <td class="text-left align-middle <%= item.styleClass %>"><%= item.statusString %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <% } %>
        
    <% if (totalPages > 1) { %>
      <nav aria-label="Page navigation" class="ml-auto mt-4 mb-4">
        <ul class="pagination pagination-static-b">
          <% if (current == 1) { %>
            <li class="page-item disabled">
              <a href="#" class="page-link">&laquo;</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a href="/admin/internship/approve?page=<%= current - 1 %>" class="page-link">&laquo;</a>
            </li>
          <% } %>
          <!-- First index -->
          <% if (current == 1) { %>
            <li class="page-item active">
              <a href="#" class="page-link">1</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a href="?page=1" class="page-link">1</a>
            </li>
          <% } %>
          <% var i = current > 3 ? current - 1 : 2 %>
          <% if (i !== 2) { %>
            <li class="page-item disabled">
              <a href="#" class="page-link">...</a>
            </li>
          <% } %>
          <!-- Middle indexes loop -->
          <% while (i <= (totalPages - 1) && (i < (current + 2)) ) { %>
            
            <% if (i == current) { %>
              <li class="page-item active">
                <a href="?page=<%= i %>" class="page-link"><%= i %></a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a href="?page=<%= i %>" class="page-link"><%= i %></a>
              </li>
            <% } %>
            <% if ((i == (current + 1) && i < totalPages - 1)) { %>
              <li class="page-item disabled">
                <a href="/admin/internship/approve" class="page-link">...</a>
              </li>
            <% } %>
            <% i++ %>
          <% } %>
          <!-- Last index -->
          <% if (current == totalPages) { %>
            <li class="page-item active">
              <a href="#" class="page-link"><%= totalPages %></a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a href="?page=<%= totalPages %>" class="page-link"><%= totalPages %></a>
            </li>
          <% } %>
          <% if (current == totalPages) { %>
            <li class="page-item disabled">
              <a href="#" class="page-link">&raquo;</a>
            </li>
          <% } else { %>
            <li class="page-item">
              <a href="?page=<%= current + 1 %>" class="page-link">&raquo;</a>
            </li>
          <% } %>
        </ul>
      </nav>
    <% } %>
  </div>

  <%- include('../layouts/script') %>
  <script src="/js/admin/approve.js"></script>
</body>

</html>