<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <table class="table table-hover" id="approve-internship">
        <thead>
          <tr>
            <th class="text-left align-middle" scope="col">#</th>
            <th class="text-left align-middle" scope="col">
              Mã số sinh viên
              <a class="ml-1" href="?_sort&column=student.mssv&type=<%= type %>"><i class="<%= icon %> text-body"></i></a>
            </th>
            <th class="text-left align-middle" scope="col">
              Họ và tên
              <a class="ml-1" href="?_sort&column=student.name&type=<%= type %>"><i class="<%= icon %> text-body"></i></a>
            </th>
            <th class="text-left align-middle" scope="col">
              Tên công ty
              <a class="ml-1" href="?_sort&column=internshipUnit.name&type=<%= type %>"><i class="<%= icon %> text-body"></i></a>
            </th>
            <th class="text-left align-middle" scope="col">
              Tỉnh/ Thành phố
              <a class="ml-1" href="?_sort&column=internshipUnit.city&type=<%= type %>"><i class="<%= icon %> text-body"></i></a>
            </th>
            <th class="text-left align-middle" scope="col">
              Trạng thái
              <a class="ml-1" href="?_sort&column=status&type=<%= type %>"><i class="<%= icon %> text-body"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <% internInfos.forEach((item, index) => { %>
            <tr id="<%= item.shortId %>">
              <td class="text-left align-middle <%= item.styleClass %>"><%= index + 1 %></td>
              <td class="text-left align-middle <%= item.styleClass %>"><%= item.student[0].mssv %></td>
              <td class="text-left align-middle <%= item.styleClass %>"><%= item.student[0].name %></td>
              <td class="text-left align-middle <%= item.styleClass %>"><%= item.internshipUnit[0].name %></td>
              <td class="text-left align-middle <%= item.styleClass %>"><%= item.city %></td>
              <td class="text-left align-middle <%= item.styleClass %>"><%= item.statusString %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

    </div>

    <%- include('../layouts/script') %>
    <script type="text/javascript">
      $('#approve-internship tbody tr').click(function() {
        var id = $(this).attr('id');
        window.location.href =  `/admin/internship/approve/${id}`;
        // console.log(id);
      });
    </script>
  </body>
</html>
