<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <div class="row mb-4">
          
            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">Năm học</span>
                    </div>
                    <select class="custom-select" name="semester" id="semester-filter">
                        <% semesters.forEach((val, index)=>{ %> 
                            <option value="<%= val %>"><%= val %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            

            <div class="col-md-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Học kỳ</span>
                    </div>
                    <select class="custom-select" name="hk" id="hk-filter">
                        <option value="1" <%= milestones[0].hk == 1 ? "selected" : "" %>>1</option>
                        <option value="2" <%= milestones[0].hk == 2 ? "selected" : "" %>>2</option>
                        <option value="3" <%= milestones[0].hk == 3 ? "selected" : "" %>>3</option>
                    </select>
                  </div>
            </div>

            <div class="col-md-1">
                <button id="filter" class="btn btn-info" onclick="loadData()">Tìm kiếm</button>
            </div>
          
            <div class="col-md-1 ml-auto"><button class="btn btn-sub" onclick="addMilestone()">Thêm</button></div>
      </div>

      <div id="alter"></div>

      <table class="table table-hover" id="table-milestone">
          <thead>
            <tr>
                <th>Năm học</th>
                <th>Học kỳ</th>
                <th>Hạn đăng ký</th>
                <th>Thời gian bắt đầu</th>
                <th>Thời gian kết thúc</th>
                <th>Hạn nhập kết quả</th>
                <th></th>
            </tr>              
          </thead>
          <tbody id="table-body-milestone">
              <tr id="addMilestone">
                <!-- <td class="edit"> 
                    <select name="semester" id="semester" class="custom-select"> 
                        <option value="${semester1}">${semester1}</option>
                        <option value="${semester2}">${semester2}</option> 
                    </select> 
                </td>
                <td class="edit">
                    <select name="hk" id="hk" class="custom-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </td>
                <td class="edit">
                    <input type="date" name="endRegister" id="endRegister">
                </td>
                <td class="edit">
                    <input type="date" name="startIntern" id="startIntern">
                </td>
                <td class="edit">
                    <input type="date" name="endIntern" id="endIntern">
                </td>
                <td class="edit">
                    <span class="sd-icon mr-4" onclick="saveMilestone(${id})">
                        <i class="fas fa-save"></i>
                    </span><span class="sd-icon" onclick="deleteMilestone(${id})">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td> -->
              </tr>
            <% milestones.forEach((val)=>{ %> 
                <tr id="<%= val._id %>">
                    <td><%= val.semester %></td>
                    <td><%= val.hk %></td>
                    <td><%= val.endRegister %></td>
                    <td><%= val.startIntern %></td>
                    <td><%= val.endIntern %></td>
                    <td><%= val.endCore %></td>
                    <td class="align-middle"><span class="sd-icon" id="editMilestone" onclick="editMilestone('<%= val._id %>')"><i class="fas fa-edit"></i></span></td>
                </tr>
            <% }); %> 
          </tbody>
      </table>
    </div>

    <%- include('../layouts/script') %>
    <script src="/js/admin/milestone.js"></script>
  </body>
</html>