<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

        <div class="row">
          <div class="col-auto ml-auto mb-3">
            <a href="/admin/manage/students/add_teacher" class="border-shadow btn btn-info">
              <span class="text-gradient">Thêm <i class="fas fa-user"></i></span>
            </a>
          </div>          
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Mã số</th>
              <th>Họ tên</th>
              <th>Mã Ngành</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < teachers.length; i++) { %>
              <tr>
                <td onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                  <%= i + 1 %>
                </td onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                <td>
                  <%= teachers[i].ms %>
                </td>
                <td onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                  <%= teachers[i].name %>
                </td>
                <td onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                  <%= teachers[i].major.name %>
                </td>
                <td onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                  <%= teachers[i].email %>
                </td>


                <td>
                  <a class="btn border-shadow delete" data-id=<%=teachers[i]._id%> >
                    <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                  </a>
                </td>
              </tr>



              <% } %>
          </tbody>
        </table>
    </div>

    <%- include('../layouts/script') %>
      <script src="/js/admin/show-teacher.js"></script>
</body>

</html>