<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

  <div id="content">
    <%- include('../layouts/navbar') %>

    <div class="row mb-3">
      <div class="col-auto">
        <a href="/admin/manage/internship-unit/add_internship-unit" class="btn btn-info" type="button">
          Thêm mới
          <i class="fas fa-plus ml-2"></i>
        </a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover" id="internship-unit">
        <thead>
          <tr>
            <th class="text-left align-middle">#</th>
            <th class="text-left align-middle">Tên công ty</th>
            <th class="text-left align-middle">Email</th>
            <th class="text-left align-middle">Địa chỉ</th>
            <th class="text-left align-middle">Thành phố</th>
            <th class="text-left align-middle">Số điện thoại</th>
            <th class="text-left align-middle"></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < internshipunits.length; i++) { %>
          <tr id="<%= internshipunits[i]._id %>" onclick="showInternshipUnitDetail(event, this.id)">
            <td class="text-left align-middle"><%= i + 1 %></td>
            <td class="text-left align-middle"><%= internshipunits[i].name %></td>
            <td class="text-left align-middle"><%= internshipunits[i].email %></td>
            <td class="text-left align-middle text-struncate" style="width: 30%"><%= internshipunits[i].address %></td>
            <td class="text-left align-middle"><%= internshipunits[i].cityName1 %></td>
            <td class="text-left align-middle"><%= internshipunits[i].phone %></td>
            <td class="text-left align-middle delete-intern-unit">
              <a class="btn" data-id="<%= internshipunits[i]._id%>" data-toggle="tooltip" data-placement="top" title="Xóa">
                <i class="far fa-trash-alt text-body"></i>
              </a>
            </td>
          </tr>
          <% } %>

        </tbody>
      </table>
    </div>
    
  </div>

  <%- include('../layouts/script') %>
  <script src="/js/admin/show-internship-unit.js"></script>
  <script>
    function showInternshipUnitDetail(event, id) {
      var target = event.target
      while (target) {
        if (target.tagName === 'TD') {
          break
        }
        target = target.parentElement
      }

      if (target === null) {return}
      if (event.target.cellIndex === 6) {return}

      window.location = `/admin/manage/internship-unit/${id}`
    }
  </script>
</body>

</html>