<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

        <div>
          <a href="/admin/manage/students/add_student" class="border-shadow">
            <span class="text-gradient">Thêm <i class="fas fa-user"></i></span>
          </a>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Mã số sinh viên</th>
              <th>Họ tên</th>
              <th>Mã Lớp</th>
              <th>Mã Ngành</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < students.length; i++) { %>
              <tr onclick="window.location.href='/admin/manage/students/<%= students[i]._id%>';">
                <td>
                  <%= i + 1 %>
                </td>
                <td>
                  <%= students[i].ms %>
                </td>
                <td>
                  <%= students[i].name %>
                </td>
                <td>
                  <%= students[i].idClass %>
                </td>
                <td>
                  <%= students[i].major.name %>
                </td>
                <td>
                  <%= students[i].email %>
                </td>

                <td>
                  <a class="btn border-shadow delete" data-id=<%=students[i]._id%> >
                    <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                  </a>
                </td>
              </tr>



              <% } %>
          </tbody>
        </table>
    </div>

    <%- include('../layouts/script') %>
      <script src="/js/admin/show-student.js"></script>
</body>

</html>