<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/admin-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <div class="row mb-3">
        <div class="col-auto">
          <a href="/admin/manage/teachers/add_teacher" class="btn btn-info" type="button">
            Thêm mới
            <i class="fas fa-plus ml-2"></i>
          </a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-left align-middle">#</th>
              <th class="text-left align-middle">Mã số</th>
              <th class="text-left align-middle">Họ tên</th>
              <th class="text-left align-middle">Mã Ngành</th>
              <th class="text-left align-middle">Email</th>
              <th class="text-left align-middle"></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < teachers.length; i++) { %>
              <tr onclick="window.location.href='/admin/manage/teachers/<%= teachers[i]._id%>';">
                <td class="text-left align-middle">
                  <%= i + 1 %>
                </td>
                <td class="text-left align-middle">
                  <%= teachers[i].ms %>
                </td>
                <td class="text-left align-middle">
                  <%= teachers[i].name %>
                </td>
                <td class="text-left align-middle">
                  <%= teachers[i].major.name %>
                </td>
                <td class="text-left align-middle">
                  <%= teachers[i].email %>
                </td>


                <td class="text-left align-middle">
                  <a class="btn border-shadow delete" data-id=<%=teachers[i]._id%> >
                    <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
                  </a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>   
      </div>
    </div>

    <%- include('../layouts/script') %>
      <script src="/js/admin/show-teacher.js"></script>
</body>

</html>