<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/meta') %>
</head>

<body>
    <%- include('../layouts/admin-sidebar') %>

        <div id="content">
            <%- include('../layouts/navbar') %>

                <div class="container">
                    <div class="box-nav d-flex justify-between">
                        <div class="filter">
                            <a href="/admin/manage/internship-unit"><i class="fas fa-angle-double-left"></i>Tất cả đơn
                                vị thực tập</a>
                        </div>
                    </div>
                    <div class="form-title text-center">
                        <h2 class="text-dark">Cập nhật đơn vị thực tập</h2>
                        <span class="text-dark">Sử dụng biểu mẫu dưới đây để cập nhật đơn vị Thực tập</span>
                    </div>

                    <!-- add internship-unit form -->
                    <div class="col-md-5"> 
                        <div>
                            <form action="/admin/manage/internship-unit/<%= internshipunits._id %>" method="POST" id="update_internship-unit">
                                
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Tên công ty</label>
                                        <input type="hidden" name="id" value="<%= internshipunits._id %>">
                                        <input type="text"  class="form-control" name="name" value="<%= internshipunits.name %>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="text" class="form-control" name="email" value="<%= internshipunits.email%>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Địa chỉ</label>
                                        <input type="text" class="form-control" name="address" value="<%= internshipunits.address%>">
                                    </div>
                                    <div class="mb-3">
                                        <label for="city" class="form-label">Thành phố</label>
                                        <input type="text" class="form-control" name="city" value="<%= internshipunits.city%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" name="phone" value="<%= internshipunits.phone%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="website" class="form-label">Website</label>
                                        <input type="text" class="form-control" name="website" value="<%= internshipunits.website%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="mentorName" class="form-label">Tên người hướng dẫn</label>
                                        <input type="text" class="form-control" name="mentorName" value="<%= internshipunits.mentor.name%>" >
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="mentorPhone" class="form-label">Số điện thoại người hướng dẫn</label>
                                        <input type="text" class="form-control" name="mentorPhone" value="<%= internshipunits.mentor.phone%>" >
                                    </div> 
                                    <div class="mb-3">
                                        <label for="mentorEmail" class="form-label">Email người hướng dẫn</label>
                                        <input type="text" class="form-control" name="mentorEmail" value="<%= internshipunits.mentor.email%>" >
                                    </div>
                    
                                    <div class="mb-3">
                                        <label for="workEnv" class="form-label">Môi trường làm việc</label>
                                        <input type="text" class="form-control" name="workEnv" value="<%= internshipunits.workEnv%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="workContent" class="form-label">Nội dung thực tập</label>
                                        <input type="text" class="form-control" name="workContent" value="<%= internshipunits.workContent%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="reqTime" class="form-label">Giờ thực tập tối thiểu trên tuần</label>
                                        <input type="number" class="form-control" name="reqTime" value="<%= internshipunits.reqTime%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="reqInfo" class="form-label">Yêu cầu của đơn vị thực tập</label>
                                        <input type="text" class="form-control" name="reqInfo" value="<%= internshipunits.reqInfo%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="maxSv" class="form-label">Số lượng tối đa</label>
                                        <input type="number" class="form-control" name="maxSv" value="<%= internshipunits.maxSv%>" >
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="benefit" class="form-label">Quyền lợi</label>
                                        <input type="text" class="form-control" name="benefit" value="<%= internshipunits.benefit%>" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="note" class="form-label">Ghi chú</label>
                                        <input type="text" class="form-control" name="note" value="<%= internshipunits.note%>" >
                                    </div>
                                    <div class="mb-3">
                                        <input type="submit" class="btn btn-sub mr-4" value="Gửi" />
                                    </div>
        
                                
                            </form>
                        </div>

                    </div>

        

                </div>
        </div>

        <%- include('../layouts/script') %>
</body>

</html>