<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layouts/meta') %>
</head>
<body>
  <%- include('../layouts/teacher-sidebar') %>
  
  <div id="content">

    <%- include('../layouts/navbar') %>    
    <div class="row mb-4">
        <div class="col-md-3">
            <input class="form-control" type="text" name="search" id="search" placeholder="Tìm kiếm theo mssv hoặc tên sinh viên">            
        </div>
        <!-- <div class="col-md-1">
            <button class="btn btn-info">Tìm kiếm</button>
        </div> -->
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Năm học</span>
                </div>
                <select class="custom-select" name="year" id="year">
                    <% listSemester.forEach((val)=>{ %> 
                        <option value="<%= val %>"><%= val %></option>
                    <% }) %> 
                </select>
              </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Học kỳ</span>
                </div>
                <select class="custom-select" name="hk" id="hk">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
              </div>
        </div>
        <div class="col-md-1">
            <button id="filter" class="btn btn-info">Lọc</button>
        </div>
        <div class="col-md-3 offset-md-1">
            <button class="btn btn-primary mr-2" onclick="saveManyCore()">Lưu tất cả</button>
            <button class="btn btn-reset ml-2">Huỷ bỏ</button>
        </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-left align-middle" scope="col">#</th>
          <th class="text-left align-middle" scope="col">
            Mã số sinh viên
          </th>
          <th class="text-left align-middle" scope="col">
            Họ và tên
          </th>
          <th class="text-left align-middle" scope="col">
            Tên công ty
          </th>
          <th class="text-left align-middle" scope="col">
            Tỉnh/ Thành phố
          </th>
          <th>Điểm</th>
        </tr>
      </thead>
      <tbody id="table-core-body">
          <% internInfos.forEach((item, index)=>{%> 
            <tr id="<%= item._id %>">
              <td class="text-left align-middle"><%= index + 1 %></td>
              <td class="text-left align-middle"><%= item.student.mssv %></td>
              <td class="text-left align-middle"><%= item.student.name %></td>
              <td class="text-left align-middle"><%= item.internUnit.name %></td>
              <td class="text-left align-middle"><%= item.internUnit.cityName %></td>
              <td><input value="<%= item.core %>" type="number" max="10" min="0" name="core-<%= item._id %>" id="core-<%= item._id %>" class="core"/></td>
            </tr>
          <% }); %> 
      </tbody>
    </table>

  <%- include('../layouts/script') %>
  <script src="/js/teacher/core.js"></script>
</body>
</html>