<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/teacher-sidebar') %>

  <div id="content">

    <%- include('../layouts/navbar') %>

    <div class="row mb-3">
      <div class="col-auto">
        <button id="redirectBack" title="Back" class="btn btn-light" type="button"
          onclick="window.location.href='/teacher'">
          <i class="fas fa-angle-left mr-2"></i>
          Trở về
        </button>
      </div>
    </div>

    <div class="card border-black card-content">
      <div class="card-header">
        <h5 class="card-title">Thông tin sinh viên</h5>
      </div>
      <div class="card-body">
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Mã số sinh viên</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.student.ms %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Họ tên</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.student.name %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.phone %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Email</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.student.email %></p>
          </div>
        </div>

      </div>
    </div>

    <div class="card border-black card-content">
      <div class="card-header">

        <h5 class="card-title">Thông tin công ty</h5>
      </div>
      <div class="card-body">
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Tên công ty</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.name %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Địa chỉ</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.address %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Tỉnh/ Thành phố</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.cityName%></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.phone %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Website</p>
          </div>
          <div class="col-md-8">
            <a href="https://www.techbase.com" class="text-muted" target="_blank"><%= internInfo.internUnit.website %>
            </a>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Email</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.email %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-black card-content">
      <div class="card-header">

        <h5 class="card-title">Thông tin người hướng dẫn</h5>
      </div>
      <div class="card-body">
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Họ và tên</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.mentor.name %></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Email</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.mentor.email%></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Số điện thoại</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.internUnit.mentor.phone%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-black card-content">
      <div class="card-header">

        <h5 class="card-title">Nội dung thực tập</h5>
      </div>
      <div class="card-body">
        <% internInfo.work.forEach((item,index)=>{%>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Tuần <%= index + 1%></p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= item %></p>
          </div>
        </div>
        <% }) %>

      </div>
    </div>

    <div class="card border-black card-content">
      <div class="card-header">

        <h5 class="card-title">Thông tin thực tập</h5>
      </div>
      <div class="card-body">
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Trạng thái</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted"><%= internInfo.statusStr%></p>
          </div>
        </div>
        <div class="row ml-4">
          <div class="col-md-3">
            <p class="">Kết quả</p>
          </div>
          <div class="col-md-8">
            <p class="text-muted">
              <%= internInfo.core === -1 ? "Chưa có" : internInfo.core;%>
            </p>
          </div>
        </div>
      </div>
    </div>


    <%- include('../layouts/script') %>
</body>

</html>