<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/meta') %>
</head>

<body>
  <%- include('../layouts/student-sidebar') %>

    <div id="content">

      <%- include('../layouts/navbar') %>

        <% if(schoolYears.length> 0){%>
          <div class="row mb-4">
            <div class="col-auto">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Năm học</span>
                </div>
                <select class="custom-select" name="schoolYear" id="schoolYear">
                  <% milestones.forEach((val)=>{%>
                    <option value="<%= val.schoolYear %>">
                      <%= val.schoolYear %>
                    </option>
                    <% }) %>
                </select>
              </div>
            </div>


            <div class="col-auto">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Học kỳ</span>
                </div>
                <select class="custom-select" name="semester" id="semester">
                  <option value="1" <%=milestones[0].semester==1 ? "selected" : "" %>>1</option>
                  <option value="2" <%=milestones[0].semester==2 ? "selected" : "" %>>2</option>
                  <option value="3" <%=milestones[0].semester==3 ? "selected" : "" %>>3</option>
                </select>
              </div>
            </div>


            <div class="col-auto">
              <button id="filter" class="btn btn-info" onclick="loadData()">Tìm kiếm</button>
            </div>
          </div>

          <% } %>
            <div id="alter"></div>
            <div id="err">
              <%= error.err ? error.msg : "" %>
            </div>
            <div class="<%= error.err ? " display-none" : "" %>" id="card-intern-info">
              <div class="card border-black card-content">
                <div class="card-header">
                  <h5 class="card-title">Thông tin công ty</h5>
                </div>
                <div class="card-body">
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Tên công ty</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internUnit-name">
                        <%= internUnit.name %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Địa chỉ</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internUnit-address">
                        <%= internUnit.address %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Tỉnh/ Thành phố</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internUnit-city">
                        <%= internUnit.city%>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Số điện thoại</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internUnit-phone">
                        <%= internUnit.phone %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Website</p>
                    </div>
                    <div class="col-md-8">
                      <a href="https://<%= internUnit.website %> " class="" target="_blank" id="internUnit-website">
                        <%= internUnit.website %>
                      </a>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Email</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internUnit-email">
                        <%= internUnit.email %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card border-black card-content">
                <div class="card-header">
                  <h5 class="card-title">Thông tin sinh viên</h5>
                </div>
                <div class="card-body">
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Họ và tên</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="mentor-name">
                        <%= internUnit.mentor ? internUnit.mentor.name : "" %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Email</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="mentor-email">
                        <%= internUnit.mentor ? internUnit.mentor.email : "" %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Số điện thoại</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="mentor-phone">
                        <%= internUnit.mentor ? internUnit.mentor.phone : "" %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="card border-black card-content display-none">
          <div class="card-header">
            <h5 class="card-title"></h5>
          </div> -->
              <div class="card border-light card-content <%= teacher.name ? "": " display-none"%>">
                <div class="card-header">
                  <h5 class="card-title">Thông tin giáo viên</h5>
                </div>
                <div class="card-body">
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Họ và tên</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="teacher-name">
                        <%= teacher.name %>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Email</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="teacher-email">
                        <%= teacher.email%>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Số điện thoại</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="teacher-phone">
                        <%= teacher.phone %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card border-black card-content">
                <div class="card-header">
                  <h5 class="card-title">Thông tin thực tập</h5>
                </div>
                <div class="card-body">
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Trạng thái</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internInfo-status">
                        <%= internInfo.statusStr%>
                      </p>
                    </div>
                  </div>
                  <div class="row ml-4">
                    <div class="col-md-3">
                      <p class="text-muted">Kết quả</p>
                    </div>
                    <div class="col-md-8">
                      <p class="" id="internInfo-core">
                        <%= internInfo.core===-1 ? "Chưa có" : internInfo.core;%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <% if( internInfo.status==2 && milestones[0].endRegister>= new Date()){ %>
                <div class="m-auto" style="width: fit-content">
                  <button class="m-2 btn btn-info"
                    onclick="window.location='/student/register-internship/<%= internInfo._id%>'">Cập nhật thông
                    tin</button>
                </div>
                <% } %>

            </div>
    </div>


    <%- include('../layouts/script') %>
      <script src="/js/student/student.js"></script>
</body>

</html>