<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/student-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <div class="row mb-4">
        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Năm học</span>
            </div>
            <select class="custom-select" name="schoolYear" id="schoolYear">                   
              <option value="">Tất cả năm học</option>
            </select>
          </div>
        </div>
        

        <div class="col-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Học kỳ</span>
            </div>
            <select class="custom-select" name="semester" id="semester">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>

        <div class="col-auto">
          <button id="filter" class="btn btn-info" onclick="loadData()">Tìm kiếm</button>
        </div>
      </div>

      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tên đơn vị</th>
              <th>Tỉnh/Thành phố</th>
              <th>Số lượng sv tối đa</th>
              <th>Số lượng sv đã đăng ký</th>
              <th>Số giờ thực tập trên tuần</th>
            </tr>
          </thead>
          <tbody>
            <% internUnits.forEach((internUnit)=>{%>
            <tr
              onclick="window.location.href='/student/internship-unit/<%= internUnit._id%>';"
            >
              <td><%= internUnit.name %></td>
              <td><%= internUnit.city %></td>
              <td><%= internUnit.maxSv %></td>
              <td><%= internUnit.currentSv %></td>
              <td><%= internUnit.reqTime %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
