<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/student-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <div class="card border-light card-content">
        <div class="card-body">
          <h5 class="card-title mb-4">Thông tin công ty</h5>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Tên công ty</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.name %></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Địa chỉ</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.address %></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Tỉnh/ Thành phố</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.city%></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Số điện thoại</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.phone %></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Website</p>
            </div>
            <div class="col-md-8">
              <a
                href="https://www.techbase.com"
                class="grey-text"
                target="_blank"
                ><%= internUnit.website %>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Email</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.email %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-light card-content">
        <div class="card-body">
          <h5 class="card-title mb-4">Thông tin người hướng dẫn</h5>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Họ và tên</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.mentor.name %></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Email</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.mentor.email%></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Số điện thoại</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.mentor.phone%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-light card-content">
        <div class="card-body">
          <h5 class="card-title mb-4">Thông tin thực tập</h5>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Số giờ thực tập trên tuần</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.reqTime %></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Yêu cầu của đơn vị thực tập</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.reqInfo%></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Môi trường làm việc</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.workEnv%></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Nội dung thực tập</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.workContent%></p>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-md-2">
              <p class="black-text">Hỗ trợ của đơn vị</p>
            </div>
            <div class="col-md-8">
              <p class="grey-text"><%= internUnit.benefit%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
