<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/student-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>

      <div class="row mb-3">
        <div class="col-auto">
          <button id="redirectBack" title="Back" class="btn btn-light" type="button" onclick="window.location.href='/student/internship-unit'">
            <i class="fas fa-angle-left mr-2"></i>
            Trở về
          </button>
        </div>
      </div>

      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin công ty</h5>
        </div>
        <div class="card-body">
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Tên công ty</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.name %></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Địa chỉ</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.address %></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Tỉnh/ Thành phố</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.city%></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Số điện thoại</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.phone %></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Website</p>
            </div>
            <div class="col-md-8">
                <a href="https://www.techbase.com"
                class="grey-text"
                target="_blank"
                ><%= internUnit.website %>
              </a>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Email</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.email %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin người hướng dẫn</h5>
        </div>
        <div class="card-body">
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Họ và tên</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.mentor.name %></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Email</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.mentor.email%></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Số điện thoại</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.mentor.phone%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-black card-content">
        <div class="card-header">
          <h5 class="card-title">Thông tin về yêu cầu và hỗ trợ của công ty</h5>
        </div>
        <div class="card-body">
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Số giờ thực tập trên tuần</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.reqTime %></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Yêu cầu của đơn vị thực tập</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.reqInfo%></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Môi trường làm việc</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.workEnv%></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Nội dung thực tập</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.workContent%></p>
            </div>
          </div>
          <div class="row ml-4">
            <div class="col-md-3">
              <p class="text-muted">Hỗ trợ của đơn vị</p>
            </div>
            <div class="col-md-8">
              <p class=""><%= internUnit.benefit%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
