<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/meta') %>
  </head>
  <body>
    <%- include('../layouts/student-sidebar') %>

    <div id="content">
      <%- include('../layouts/navbar') %>
      <div class="row">
        <div class="col-md-5">
          <form
            action="/student/register-internship"
            method="post"
            class="sd-form"
            id="formTT"
          >
            <div class="mb-3">
              <label for="svPhone" class="form-label"
                >Số điện thoại của SV (SĐT thường sử dụng để GV có thể liên
                hệ)</label
              >
              <input
                type="text"
                class="form-control"
                id="svPhone"
                name="svPhone"
              />
              <span class="text-danger" id="err-svPhone"></span>
            </div>
            <div class="mb-3">
              <label for="internshipUnit" class="form-label"
                >Đơn vị thực tập</label
              >
              <select
                class="form-control"
                id="internshipUnit"
                name="internshipUnit"
              >
                <option value="0">Chọn đơn vị thực tập từ khoa ...</option>

                <% internshipUnit.forEach((unit)=>{%>
                <option value="<%= unit._id%>"><%-unit.name%></option>
                <%});%>
              </select>
              <span class="text-danger" id="err-internshipUnit"></span>
            </div>

            <div class="form-check md-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="isSelf"
                name="isSelf"
              />
              <label class="form-check-label mb-3" for="isSelf">
                Đơn vị sinh viên tự liên hệ
              </label>
            </div>
            <div class="intern-new">
              <div class="mb-3">
                <label for="internName" class="form-label">Tên công ty</label>
                <input
                  type="text"
                  class="form-control"
                  id="internName"
                  name="internName"
                />
                <span class="text-danger" id="err-internName"></span>
              </div>

              <div class="mb-3">
                <label for="internAddress">Địa chỉ công ty</label>
                <textarea
                  class="form-control"
                  id="internAddress"
                  name="internAddress"
                  style="height: 100px"
                ></textarea>
                <span class="text-danger" id="err-internAddress"></span>
              </div>
              <div class="mb-3">
                <label for="internshipCity" class="form-label"
                  >Tỉnh/ Thành phố
                </label>
                <select
                  class="form-control"
                  id="internshipCity"
                  name="internshipCity"
                >
                  <option value="0">Chọn Tỉnh/ Thành phố ...</option>

                  <% tinh.forEach((val)=>{ %>
                  <option value="<%= val.id%>"><%= val.name%></option>
                  <% })%>
                </select>
              </div>

              <div class="mb-3">
                <label for="internPhone" class="form-label"
                  >Số điện thoại đơn vị thực tập</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internPhone"
                  name="internPhone"
                />
                <span class="text-danger" id="err-internPhone"></span>
              </div>
              <div class="mb-3">
                <label for="internEmail" class="form-label"
                  >Email đơn vị thực tập</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internEmail"
                  name="internEmail"
                />
                <span class="text-danger" id="err-internEmail"></span>
              </div>

              <div class="mb-3">
                <label for="internWebsite" class="form-label"
                  >Website đơn vị thực tập</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internWebsite"
                  name="internWebsite"
                />
                <span class="text-danger" id="err-internWebsite"></span>
              </div>

              <div class="mb-3">
                <label for="mentorName" class="form-label"
                  >Tên người hướng dẫn</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="mentorName"
                  name="mentorName"
                />
                <span class="text-danger" id="err-mentorName"></span>
              </div>
              <div class="mb-3">
                <label for="mentorPhone" class="form-label"
                  >Số điện thoại người hướng dẫn</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="mentorPhone"
                  name="mentorPhone"
                />
                <span class="text-danger" id="err-mentorPhone"></span>
              </div>
              <div class="mb-3">
                <label for="mentorEmail" class="form-label"
                  >Email người hướng dẫn</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="mentorEmail"
                  name="mentorEmail"
                />
                <span class="text-danger" id="err-mentorEmail"></span>
              </div>

              <div class="mb-3">
                <label for="internRequire" class="form-label"
                  >Yêu cầu của đơn vị thực tập</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internRequire"
                  name="internRequire"
                />
                <span class="text-danger" id="err-internRequire"></span>
              </div>
              <div class="mb-3">
                <label for="internBenefit" class="form-label"
                  >Hỗ trợ của đơn vị thực tập</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internBenefit"
                  name="internBenefit"
                />
                <span class="text-danger" id="err-internBenefit"></span>
              </div>

              <div class="mb-3">
                <label for="internReqTime" class="form-label"
                  >Số giờ thực tập trên tuần</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="internReqTime"
                  name="internReqTime"
                />
                <span class="text-danger" id="err-internReqTime"></span>
              </div>
            </div>

            <div class="mb-3">
              <p class="form-label">Môi trường làm việc</p>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  name="haveRoom"
                />
                <label class="form-check-label" for="inlineCheckbox1"
                  >Có phòng làm việc</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox2"
                  name="havePc"
                />
                <label class="form-check-label" for="inlineCheckbox2"
                  >Có máy tính</label
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="shiftPerWeek" class="form-label"
                >Số buổi thực tập trên tuần (>= 6 mới chấp nhập thực tập)</label
              >
              <input
                type="number"
                class="form-control"
                id="shiftPerWeek"
                name="shiftPerWeek"
              />
              <span class="text-danger" id="err-shiftPerWeek"></span>
            </div>
            <div class="mb-3">
              <label for="work1" class="form-label">Công việc tuần 1</label>
              <input type="text" class="form-control" id="work1" name="work1" />
              <span class="text-danger" id="err-work1"></span>
            </div>
            <div class="mb-3">
              <label for="work2" class="form-label">Công việc tuần 2</label>
              <input type="text" class="form-control" id="work2" name="work2" />
              <span class="text-danger" id="err-work2"></span>
            </div>
            <div class="mb-3">
              <label for="work3" class="form-label">Công việc tuần 3</label>
              <input type="text" class="form-control" id="work3" name="work3" />
              <span class="text-danger" id="err-work3"></span>
            </div>
            <div class="mb-3">
              <label for="work4" class="form-label">Công việc tuần 4</label>
              <input type="text" class="form-control" id="work4" name="work4" />
              <span class="text-danger" id="err-work4"></span>
            </div>
            <div class="mb-3">
              <label for="work5" class="form-label">Công việc tuần 5</label>
              <input type="text" class="form-control" id="work5" name="work5" />
              <span class="text-danger" id="err-work5"></span>
            </div>
            <div class="mb-3">
              <label for="work6" class="form-label">Công việc tuần 6</label>
              <input type="text" class="form-control" id="work6" name="work6" />
              <span class="text-danger" id="err-work6"></span>
            </div>
            <div class="mb-3">
              <label for="work7" class="form-label">Công việc tuần 7</label>
              <input type="text" class="form-control" id="work7" name="work7" />
              <span class="text-danger" id="err-work7"></span>
            </div>
            <div class="mb-3">
              <label for="work8" class="form-label">Công việc tuần 8</label>
              <input type="text" class="form-control" id="work8" name="work8" />
              <span class="text-danger" id="err-work8"></span>
            </div>
            <div class="group-btn">
              <input type="submit" class="btn btn-sub mr-4" value="Gửi" />
              <input type="reset" class="btn btn-reset ml-4" value="Huỷ bỏ" />
            </div>
          </form>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="sd-form">
            <h4>Chú ý</h4>
            <p>
              (1) SV phải nhập đầy đủ thông tin vào mẫu đăng ký, không viết tắt,
              không viết sai chính tả
            </p>
            <p>
              (2) SV phải đảm bảo rằng, mọi thông tin điền vào biểu mẫu là chính
              xác
            </p>
            <p>
              (3) Phiếu đã nộp rồi thì sẽ không đổi phiếu khác, SV phải cân nhắc
              trước khi nộp
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('../layouts/script') %>
  </body>
</html>
